%h1 Always be patient to make tons of money!!
= render 'form'
= render 'flash'

%h2 Positions

- if @positions
  %table{:border => "1"}
    %thead
      %tr
        %th SIDE
        %th PRICE
        %th SIZE
        %th REQUIRE COLLATERAL
        %th PROFIT and LOSS
      %tr  
    %tbody
      - @positions.each do |position| 
        %tr
          %td= position['side']
          %td= position['price']
          %td= position['size']
          %td= position['require_collateral']
          %td= position['pnl'] 

%h2 Ticker
%table{:border => "1"}
  %thead
    %tr
      %th BEST ASK
      %th BEST BID
      %th DIFF
  %tbody
    %tr
      %td= @ticker['best_ask']
      %td= @ticker['best_bid']
      %td= @ticker['best_ask'] - @ticker['best_bid']

